Repository pfaffle/armada-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --fix, pnpm format

.lintstagedrc:

{
  "*.[jt]s": [
    "pnpm lint --fix",
    "pnpm format"
  ],
  "*.{json,md}": "pnpm format"
}

Fix formatting problems which were missed
  .github/workflows/node.js.yml
  package.json
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/close-button.tsx
  packages/ui/src/components/ui/color-mode.tsx
  packages/ui/src/components/ui/provider.tsx
Due: pnpm format

Fix lint-staged pattern
  .lintstagedrc
Due: none

Split combat log into parts
  packages/service/package.json
  packages/service/src/__tests__/__util__/index.ts
  packages/service/src/__tests__/parseLog.test.ts
  packages/service/src/parseLog.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Make working directories configurable
  packages/service/.env
  packages/service/package.json
  packages/service/src/__tests__/logParser.test.ts
  packages/service/src/__tests__/routes/armada.test.ts
  packages/service/src/bin/start.ts
  packages/service/src/logParser.ts
  packages/service/src/routes/armada.ts
  render.yaml
Due: pnpm lint --fix, pnpm format

Rewrite tests to use nodejs runner
  packages/service/eslint.config.mjs
  packages/service/jest.config.js
  packages/service/package.json
  packages/service/src/__tests__/app.test.ts
  packages/service/src/__tests__/logParser.test.ts
  packages/service/src/__tests__/routes/armada.test.ts
  packages/service/src/routes/armada.ts
  packages/service/tsconfig.build.json
  packages/service/tsconfig.json
  packages/ui/.vscode/settings.json
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Remove README references to Jest
  README.md
Due: pnpm format

Use 22.11.0 LTS version of Node.js
  .nvmrc
Due: none

Update dependencies
  package.json
  packages/service/package.json
  packages/ui/package.json
  packages/ui/public/mockServiceWorker.js
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Refactor service build into subprojects
  .gitattributes
  .gitignore
  packages/service/package.json
  packages/service/src/tsconfig.json
  packages/service/tests/app.test.ts
  packages/service/tests/data/2024-10-20 17-40-24-hirogen-combat-log.csv
  packages/service/tests/data/2024-10-21 00-24-58-formada-log.csv
  packages/service/tests/data/test.txt
  packages/service/tests/logParser.test.ts
  packages/service/tests/routes/armada.test.ts
  packages/service/tests/tsconfig.json
  packages/service/tests/util/index.ts
  packages/service/tsconfig.base.json
  packages/service/tsconfig.build.json
  packages/service/tsconfig.json
  packages/service/tsconfig.root.json
  packages/ui/.gitignore
  render.yaml
Due: pnpm lint --fix, pnpm format

Make clean task remove tsbuildinfo file
  packages/service/package.json
Due: pnpm format

Fix file split error
  .gitattributes
  packages/service/.gitattributes
  packages/service/.vscode/launch.json
  packages/service/src/logParser.ts
  packages/service/tests/data/in/defeat-log.csv
  packages/service/tests/data/in/formada-log.csv
  packages/service/tests/data/in/hirogen-log.csv
  packages/service/tests/data/in/partial-victory-log.csv
  packages/service/tests/data/out/hirogen-0.csv
  packages/service/tests/data/out/hirogen-1.csv
  packages/service/tests/data/out/hirogen-2.csv
  packages/service/tests/data/out/hirogen-3.csv
  packages/service/tests/logParser.test.ts
  packages/service/tests/routes/armada.test.ts
  packages/service/tsconfig.base.json
Due: pnpm lint --fix, pnpm format

Parse CSV files into typed data
  armada-analyzer.code-workspace
  packages/service/.gitattributes
  packages/service/.vscode/launch.json
  packages/service/.vscode/tasks.json
  packages/service/package.json
  packages/service/src/logParser.ts
  packages/service/src/models/FleetsLog.ts
  packages/service/src/models/RewardsLog.ts
  packages/service/src/models/RoundsLog.ts
  packages/service/src/models/SummaryLog.ts
  packages/service/src/routes/armada.ts
  packages/service/tests/data/afterSplit/hirogen-0.csv
  packages/service/tests/data/afterSplit/hirogen-1.csv
  packages/service/tests/data/afterSplit/hirogen-2.csv
  packages/service/tests/data/afterSplit/hirogen-3.csv
  packages/service/tests/data/beforeSplit/data-mining-log.csv
  packages/service/tests/data/beforeSplit/defeat-log.csv
  packages/service/tests/data/beforeSplit/dominion-solo-log.csv
  packages/service/tests/data/beforeSplit/eclipse-armada-log.csv
  packages/service/tests/data/beforeSplit/formada-log.csv
  packages/service/tests/data/beforeSplit/hirogen-log.csv
  packages/service/tests/data/beforeSplit/partial-victory-log.csv
  packages/service/tests/data/beforeSplit/station-log.csv
  packages/service/tests/data/in/formada-log.csv
  packages/service/tests/data/in/hirogen-log.csv
  packages/service/tests/data/parsing/hostile-fleets.csv
  packages/service/tests/data/parsing/hostile-parsed-fleets.json
  packages/service/tests/data/parsing/hostile-parsed-rewards.json
  packages/service/tests/data/parsing/hostile-parsed-rounds.json
  packages/service/tests/data/parsing/hostile-parsed-summary.json
  packages/service/tests/data/parsing/hostile-rewards.csv
  packages/service/tests/data/parsing/hostile-rounds.csv
  packages/service/tests/data/parsing/hostile-summary.csv
  packages/service/tests/logParser.test.ts
  packages/service/tests/routes/armada.test.ts
  packages/service/tests/util/index.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Refactor log parser
  .nvmrc
  armada-analyzer.code-workspace
  package.json
  packages/service/src/bin/start.ts
  packages/service/src/logParser.ts
  packages/service/src/models/FleetsLog.ts
  packages/service/src/models/RewardsLog.ts
  packages/service/src/models/RoundsLog.ts
  packages/service/src/models/SummaryLog.ts
  packages/service/src/routes/armada.ts
  packages/service/tests/data/parsing/random-csv.csv
  packages/service/tests/data/parsing/reward-log-noloot.csv
  packages/service/tests/data/test.txt
  packages/service/tests/logParser.test.ts
  packages/service/tests/routes/armada.test.ts
Due: pnpm lint --fix, pnpm format
