Repository pfaffle/armada-analyzer: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint --fix, pnpm format

Update dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm format

Configure TS, prettier and eslint
  .gitignore
  .lintstagedrc
  .prettierignore
  package.json
  packages/service/.eslintignore
  packages/service/.eslintrc.js
  packages/service/package.json
  packages/service/scripts/copyStatic.ts
  packages/service/src/bin/start.ts
  packages/service/src/index.ts
  packages/service/src/public/index.html
  packages/service/src/routes/index.ts
  packages/service/src/routes/test.ts
  packages/service/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm lint --fix, pnpm format

Update to express 5, move health check endpoint
  packages/service/package.json
  packages/service/src/index.ts
  packages/service/src/routes/health.ts
  packages/service/src/routes/index.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Configure jest, refactor ts config
  package.json
  packages/service/jest.config.ts
  packages/service/package.json
  packages/service/src/__tests__/test.test.ts
  packages/service/tsconfig.build.json
  packages/service/tsconfig.json
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Create placeholder UI
  packages/service/src/public/index.html
Due: none

Add some tests
  packages/service/.eslintrc.js
  packages/service/jest.config.ts
  packages/service/package.json
  packages/service/src/__tests__/__util__/index.ts
  packages/service/src/__tests__/app.test.ts
  packages/service/src/__tests__/test.test.ts
  packages/service/src/app.ts
  packages/service/src/bin/start.ts
  packages/service/src/routes/health.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Let prettier handle html formatting
  packages/service/src/public/index.html
Due: none

Create CI build
  .github/workflows/node.js.yml
Due: none

Fix CI for pnpm
  .github/workflows/node.js.yml
Due: none

Fix pnpm install
  .github/workflows/node.js.yml
Due: none

Change service to use modern eslint and es modules
  .gitattributes
  packages/service/.eslintignore
  packages/service/.eslintrc.js
  packages/service/eslint.config.mjs
  packages/service/package.json
  packages/service/src/bin/start.ts
  packages/service/tsconfig.build.json
  packages/service/tsconfig.json
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Prettier format github workflow yaml
  .github/workflows/node.js.yml
Due: none

Use tsx instead of ts-node, setup vscode workspace
  armada-analyzer.code-workspace
  packages/service/.vscode/launch.json
  packages/service/package.json
  pnpm-lock.yaml
Due: pnpm format

Convert service to ESM
  packages/service/jest.config.js
  packages/service/package.json
  packages/service/src/__tests__/app.test.ts
  packages/service/src/app.ts
  packages/service/src/bin/start.ts
  packages/service/tsconfig.build.json
  packages/service/tsconfig.json
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Add build for UI React/Vite app
  packages/ui/.gitignore
  packages/ui/README.md
  packages/ui/eslint.config.mjs
  packages/ui/index.html
  packages/ui/package.json
  packages/ui/public/vite.svg
  packages/ui/src/App.css
  packages/ui/src/App.tsx
  packages/ui/src/assets/react.svg
  packages/ui/src/index.css
  packages/ui/src/main.tsx
  packages/ui/src/vite-env.d.ts
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Add a render.yaml deployment config
  render.yaml
Due: none

Fix error in render.yaml
  render.yaml
Due: none

Remove plan from yaml to use default
  render.yaml
Due: none

restore free plan because now it's trying to charge
  render.yaml
Due: none

Remove plan from static site
  render.yaml
Due: none

Put in place custom UI
  packages/ui/index.html
  packages/ui/public/rocket.svg
  packages/ui/public/vite.svg
  packages/ui/src/App.css
  packages/ui/src/App.tsx
  packages/ui/src/assets/react.svg
  packages/ui/src/index.css
Due: none

Update README
  .github/workflows/node.js.yml
  .prettierrc
  LICENSE
  README.md
  packages/service/package.json
  packages/ui/README.md
  packages/ui/package.json
  render.yaml
Due: pnpm format

Fix UI deploy
  render.yaml
Due: none

Reorganize README
  README.md
  packages/ui/README.md
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  pnpm-lock.yaml
Due: pnpm format

Add note about precommit hooks
  README.md
Due: pnpm format

Create file upload endpoint
  .gitattributes
  packages/service/.vscode/launch.json
  packages/service/eslint.config.mjs
  packages/service/package.json
  packages/service/src/__tests__/__data__/2024-10-20 17-40-24-hirogen-combat-log.csv
  packages/service/src/__tests__/__data__/2024-10-21 00-24-58-formada-log.csv
  packages/service/src/__tests__/__data__/test.txt
  packages/service/src/__tests__/__util__/index.ts
  packages/service/src/__tests__/app.test.ts
  packages/service/src/__tests__/routes/armada.test.ts
  packages/service/src/app.ts
  packages/service/src/bin/start.ts
  packages/service/src/routes/armada.ts
  packages/service/src/routes/index.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Remove placeholder UI
  packages/service/src/__tests__/app.test.ts
  packages/service/src/app.ts
  packages/service/src/public/index.html
Due: pnpm lint --fix, pnpm format

Fix build scripts
  packages/service/package.json
  packages/service/scripts/copyStatic.ts
Due: pnpm lint --fix, pnpm format

Cleanup uploaded files
  packages/service/eslint.config.mjs
  packages/service/src/routes/armada.ts
Due: pnpm lint --fix, pnpm format

Add cors to service
  packages/service/package.json
  packages/service/src/__tests__/app.test.ts
  packages/service/src/app.ts
  packages/ui/src/App.css
  packages/ui/src/App.tsx
  packages/ui/src/FileUploader.tsx
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Add basic file upload UI
  packages/ui/.env
  packages/ui/src/App.css
  packages/ui/src/FileUploader.tsx
  packages/ui/src/vite-env.d.ts
  render.yaml
Due: pnpm lint --fix, pnpm format

Update node and use corepack
  .github/workflows/node.js.yml
  .nvmrc
  README.md
  package.json
Due: pnpm format

Attempt to fix GH Action
  .github/workflows/node.js.yml
Due: none

Also log version of pnpm
  .github/workflows/node.js.yml
Due: none

Make tasks in the root package run in parallel
  package.json
Due: pnpm format

Add MSW, refactor ESLint config
  README.md
  packages/ui/.env
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/public/mockServiceWorker.js
  packages/ui/src/main.tsx
  packages/ui/src/mocks/browser.ts
  packages/ui/src/mocks/handlers.ts
  packages/ui/src/vite-env.d.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Set up basic UI tests
  README.md
  packages/ui/.gitignore
  packages/ui/.vscode/launch.json
  packages/ui/package.json
  packages/ui/src/App.tsx
  packages/ui/src/__tests__/setup.ts
  packages/ui/src/__tests__/test.test.tsx
  packages/ui/src/main.tsx
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Rename GH build action
  .github/workflows/node.js.yml
Due: none

Expand on UI tests
  packages/ui/.vscode/settings.json
  packages/ui/package.json
  packages/ui/src/App.tsx
  packages/ui/src/FileUploader.tsx
  packages/ui/src/__tests__/App.test.tsx
  packages/ui/src/__tests__/FileUploader.test.tsx
  packages/ui/src/__tests__/setup.ts
  packages/ui/src/__tests__/test.test.tsx
  packages/ui/src/mocks/handlers.ts
  packages/ui/src/mocks/node.ts
  packages/ui/src/mocks/utils.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Use Chakra UI
  packages/service/package.json
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/App.css
  packages/ui/src/App.tsx
  packages/ui/src/FileUploader.tsx
  packages/ui/src/__tests__/App.test.tsx
  packages/ui/src/__tests__/FileUploader.test.tsx
  packages/ui/src/__tests__/__utils__/ThemeWrapper.tsx
  packages/ui/src/__tests__/__utils__/utils.ts
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/close-button.tsx
  packages/ui/src/components/ui/color-mode.tsx
  packages/ui/src/components/ui/file-button.tsx
  packages/ui/src/components/ui/input-group.tsx
  packages/ui/src/components/ui/provider.tsx
  packages/ui/src/index.css
  packages/ui/src/main.tsx
  packages/ui/tsconfig.app.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Due: pnpm lint --fix, pnpm format

Path conditions:
  pnpm lint --fix: any of: *.[jt]s
  pnpm format: (any of: *.[jt]s) or (any of: *.{json,md})
